body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
}

nav > a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

img {
    width: 100%;
}

@media screen and (max-width:800px){
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width:600px){
    .column {
        flex: 100%;
        max-width: 100%;
    }
}