body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
}

nav > a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
}

main {
    padding: 15px;
    height: 90vh;
    margin: 5px;
}

footer {
    padding: 10px;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}