.eb-garamond-headings {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
}

.jost-para {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #092158;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8995E3;
    height: 55px;
    font-size: 17px;
}

nav > a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: #092158;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: #092158;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 90vh;
}

header h1 {
    font-size: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
}

header p {
    font-size: 35px;
    margin-top: 0;
}

main {
    background-color: #343C77;
    padding: 20px;
    min-height: 100vh;
}

main h2 {
    font-size: 50px;
    margin-top: 0;
    text-align: center;
}

main p {
    font-size: 25px;
    text-align: left;
}

#contact a {
    color: #ffffff;
}

footer {
    padding: 1px;
    background-color: #8995E3;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}